/* Định dạng chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.center-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.product-title {
    width: 100%;
    height: 350px;
    background-color: #454242;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title h1 {
    font-size: 2.6rem;
    padding: 24px 0;
}

.product-title p {
    font-size: 1.2rem;
}